<h1 class="w3-center">Store</h1>

<input class="w3-input w3-border w3-padding" type="text" placeholder="Search for product..." id="myInput" onkeyup="myFunction()">
<table class="w3-table-all" id="myTable">
  <thead>
    <tr class="w3-light-blue">
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= sanitize(product.description) %>
        </td>
        <td>
          <%= image_tag(product.image_url) %>
        </td>
        <td>
          <%= number_to_currency(product.price) %>
        </td>
        <td>
          <%= link_to 'Show', product , class:"w3-button w3-light-gray" %>
        </td>
        <td>
          <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
        </td>
        <td>
          <!--%= link_to 'Edit', edit_product_path(product) , class:"w3-button w3-light-gray"%>-->
        </td>
        <td>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } , class:"w3-button w3-light-gray" %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
<script>
  function myFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>