<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body class="w3-container">

    <div class="w3-bar w3-light-blue">
      <a href="/" class="w3-bar-item w3-button"><%= image_tag 'fakelogo.png', alt: 'MadeLine Logo', height: '28', width: '50', style: 'display: block; margin-left: auto; margin-right: auto; margin-bottom: none; margin-top: none' %></a>
      <a href="/static_pages/home" class="w3-bar-item w3-button">Home</a>
      <a href="/" class="w3-bar-item w3-button">Root</a>
      <a href="/static_pages/help" class="w3-bar-item w3-button">Help</a>
      <a href="/static_pages/about" class="w3-bar-item w3-button">About</a>
      <% if session[:user_id] %>
      <a href="/orders" class="w3-bar-item w3-button">Orders</a>
      <a href="/products" class="w3-bar-item w3-button">Products</a>
      <a href="/users" class="w3-bar-item w3-button">Users</a>
        <%= button_to 'Logout', logout_path, method: :delete, class: 'w3-bar-item w3-button w3-right'%>
      <% else %>
      <a href="/login" class="w3-bar-item w3-button w3-right">Login</a>
      <% end %>
      <!--<a href="/carts" class="w3-bar-item w3-button w3-right">View Cart</a>-->
    </div>

   <div class="w3-container">
    <%= yield %>
   </div>    

  </body>
</html>
